.articles {
    background: lighten(palette(gray), 30%);
    padding: $spacer;

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        max-width: 60rem;
    }
}

.article {
    $blockTablet: 50%;
    $blockDesktop: 33.3333333%;
    color: palette(gray);
    line-height: 1.15;
    padding: $spacer;
    position: relative;
    width: 100%;
    word-spacing: -1rem;

    @include media('>=small') {
        width: $blockTablet;
        height: 0;
        padding: $blockTablet 0 0;
    }

    @include media('>=medium') {
        width: $blockDesktop;
        padding-top: $blockDesktop;
    }

    &__padding {
        background: white;
        border: 1px solid palette(gray);
        border-radius: $radius;
        font-family: 'BLOKKNeue';
        padding: $padding;
        position: relative;

        @include media('>=small') {
            bottom: $spacer;
            left: $spacer;
            overflow: hidden;
            position: absolute;
            right: $spacer;
            top: $spacer;
        }
    }

    &--month {
        text-align: center;
        width: 100%;

        .article__padding {
            background: {
                position: center center;
                repeat: no-repeat;
                size: cover;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:before {
                background: rgba(black, 0.5);
                content: "";
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            & > * {
                z-index: 1;
            }

            @at-root {

                .article--november#{&} {
                    background-image: url('https://static.pexels.com/photos/7862/pexels-photo.jpg');
                }

                .article--october#{&} {
                    background-image: url('https://static.pexels.com/photos/597/landscape-nature-sunset-clouds.jpg');
                }

                .article--september#{&} {
                    background-image: url('https://static.pexels.com/photos/4959/wood-nature-forest-trees.jpg');
                }
            }

            .article__date {
                color: white;
                font-size: 2.5rem;
                margin: 0 0 -1rem;

                @include media('>=small') {
                    font-size: 4rem;
                }
            }

            .article__description {
                color: white;
                max-width: 40rem;
            }
        }
    }

    &--small {

        @include media('>=small') {
            width: $blockTablet;
        }

        @include media('>=medium') {
            width: $blockDesktop;
        }
    }

    &--long {
        width: 100%;

        @include media('>=small') {
            width: $blockTablet * 2;
        }

        @include media('>=medium') {
            width: $blockDesktop * 2;
        }
    }


    &--tall {

        @include media('>=small') {
            padding-top: $blockTablet * 2;
        }

        @include media('>=medium') {
            padding-top: $blockDesktop * 2;
        }
    }

    &__thumbnail {
        width: 100px;
    }

    &__date {
        color: lighten(palette(gray), 30%);
        font-size: 0.65rem;
        word-spacing: 0;
    }

    &__heading {
        font-size: 1.35rem;
        margin: 0.25rem 0 0.5rem;
    }

    &__description {
        color: lighten(palette(gray), 20%);
        margin: 0.5rem auto;
    }

    &__more {
        $offset: $padding * -1;
        background: lighten(palette(gray), 20%);
        border: 0;
        border-top: 1px solid palette(gray);
        border-radius: 0;
        bottom: 0;
        cursor: pointer;
        display: block;
        left: 0;
        padding: $padding / 1.5 $padding;
        position: absolute;
        text: {
            align: left;
            transform: uppercase;
        }
        width: 100%;

        &:before {
            background-image: linear-gradient(to top, white, rgba(white, 0));
            bottom: calc(100% + 1px);
            content: "";
            display: block;
            height: 6.25rem;
            left: 1px;
            pointer-events: none;
            position: absolute;
            right: 1px;
        }
    }
}
